body {
  background: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-position:50% 50%;
}
:root {
  --content-bg-color:#ffffffe6;
}